.profilePage {
    display: flex;
    background: #F9F9F9;
    min-height: 732px;
}

.noRepoText {
    height: 31px;
    font-family: Inter, serif;
    font-size: 22px;
    color: #808080;
}

.noRepoWrapper {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #000000;
    padding-left: 56px;
    margin: 28px 0;
}

.paginateWrapper {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    margin-right: 56px;
    padding-left: 24px;
}

.page,
.brake {
    margin: 0 12px;
    cursor: pointer;
    font-family: Inter, serif;
    font-size: 14px;
    color: #808080;
    line-height: 25px;
}

.nextLi,
.previousLi {
    padding-top: 2px;
    cursor: pointer;
}

.nextLi.disabledPrevNext,
.previousLi.disabledPrevNext {
    cursor: default;
}

.disabledPrevNext svg path {
    stroke: #808080;
}

.active {
    width: 21px;
    height: 25px;
    background-color: #0064EB;
    color: white;
    text-align: center;
    border-radius: 3px;
}

.reposWithPages {
    flex-basis: 100%;
}

.range {
    padding-top: 6px;
}

.pagesWrapper {
    display: flex;
    justify-content: flex-end;
}

.range p {
    font-family: Inter, serif;
    font-size: 14px;
    color: #808080;
}

@media only all and (max-width: 960px){
    .profilePage{
        display: flex;
        flex-wrap: wrap;
        height: 100%;
    }

    .heading{
        text-align: center;
        padding: 0;
    }
}
@media only all and (max-width: 640px){
    .heading{
        font-size: 28px;
        margin: 24px 0;
    }

    .pagesWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .range p {
        margin-top: 0;
        padding-top: 0;
    }
    .paginateWrapper {
        margin-top: 0;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }
}